.navbar ul{
    list-style-type: none;
background-color: lightgrey;
display: flex;
gap: 200%;
width: auto;

}
.navbar a{
    color: black;
    display: block;
    text-align: center;
    
    background-color: lightgray;
}
.navbar a:hover{
background-color: blueviolet;
display: block;
border-radius: 15px;

}
.navbar li{
    display: flex;
   
    background-color: lightgray;
}
.navbar{
    gap: 100px;
    display: flex;
    background-color: lightgray;
    
   border-radius: 30px;
}
.container a{
    padding: 20px;
    
    display: block;
}
.container{
    
}
body{
    max-width: 100%;
}
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: row;
        gap: 15%;
        align-items: center;
    }

    .navbar {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .container a {
        padding: 10px;
        font-size: 16px;
    }
}
